In [2]:
import pandas as pd
df = pd.read_csv('../data/hour.csv', sep=',')
df1 = df[['instant', 'dteday', 'season', 'temp', 'hum', 'windspeed']]
df1.head()

   instant      dteday  season  temp   hum  windspeed
0        1  2011-01-01       1  0.24  0.81        0.0
1        2  2011-01-01       1  0.22  0.80        0.0
2        3  2011-01-01       1  0.22  0.80        0.0
3        4  2011-01-01       1  0.24  0.75        0.0
4        5  2011-01-01       1  0.24  0.75        0.0

In [3]:
df1.head().to_csv('../data/praktikum01.csv')